@CHARSET "EUC-KR";
@import url('contact.css');
@import url('main.css');
@import url('work.css');

/*font-face*/
@font-face {
	font-family: 'NanumGothicBold';
	src: url('font/NanumGothicBoldCompact.eot');
	src: url('font/NanumGothicBoldCompact.eot?#iefix') format('embedded-opentype'),
		 url('font/NanumGothicBoldCompact.woff') format('woff'),
		 url('font/NanumGothicBoldCompact.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
    font-family:'NanumGothic';
    src: url('font/NanumGothicCompact.eot');
    src: url('font/NanumGothicCompact.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothicCompact.woff') format('woff'),
         url('font/NanumGothicCompact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size:12px; line-height:18px; color:#777; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height:1;margin:0;padding:0;}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
legend, caption, hr { display:none; }
em { font-style:normal; }
img { vertical-align:top; display:inline; width:100%; max-width:auto; }
html,body{position:relative;height:100%;font-family:'NanumGothic','Arial', 'Helvetica', sans-serif;}

#wrap {width:100%; max-width:100%; overflow: hidden; height:100%; position: absolute; top:0; left:0;}
#header {width:100%; height:75px; background:yellow; color:#000;}
#header h1{float:left;}
#header #nav {overflow:hidden; float:right;}
#header #nav li {float:left;}

#contents {position: absolute; top:75px;}
#contents .page {position:absolute; overflow-y:auto;}
#contents #main{overflow:hidden; /*overflow-y:scroll*/; background:red;}
#work{overflow-x:hidden; background:green;}
#contact{overflow:hidden;background:blue;}
#work #container {max-width:100em; margin:0 auto;}
